<ul class="nav nav-sidebar" *ngIf="filters">
    <h3 class="tools-title">Tools</h3>
    <p class="switch-title">Рыбкa</p>
    <kendo-switch [(ngModel)]="checkedFish" (valueChange)="handlerCheckbox($event, 'hideFish')" ></kendo-switch>

    <p class="switch-title">Глубина</p>
    <kendo-switch [(ngModel)]="checkedSea" (valueChange)="handlerCheckbox($event, 'hideSeas')" ></kendo-switch>

    <p class="switch-title">Температура воды</p>
    <kendo-switch [(ngModel)]="checkedTemp" (valueChange)="handlerCheckbox($event, 'hideTemp')" ></kendo-switch>

    <div class="fish-describe" *ngIf="currentFish">
        <h3 class="tools-title">Описание рыбки:</h3>
        <div>
            <li>Название: {{currentFish.name}}</li>
            <li>Количество: {{currentFish.count}}%</li>
            <li>Вес: ~{{currentFish.info.weight}}грамм</li>
            <li>Нерест:
                <span>нач. - {{currentFish.info.date_range[0]}}</span>
                <span>зак. - {{currentFish.info.date_range[1]}}</span>
            </li>
            <li>Описание:
                <span>{{currentFish.info.desc}}</span>
            </li>
        </div>
    </div>
</ul>
