.tools-title {
  margin-top: 40px;
  color: #78baf4;
  text-transform: uppercase;
  font-size: 12pt;
}

.switch-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 10pt;
  padding: 10px 0;
  margin: 0;
}

.fish-describe {
  color: #fff;
}

.fish-describe span {
  display: block;
  padding-left: 15px;
}