
<div class="ui-table">

    <div class="row" *ngFor="let item of rows; let i = index;">
        <div class="row-content">
            <div class="col col-size-4">
                <div class="col-content left">
                    <span>Gagarin</span>
                </div>
            </div>
            <div class="col col-size-5">
                <div class="col-content space-around">
                    <span> 999.999.999.999</span> <span>tcp</span>
                </div>
            </div>
            <div class="col col-size-2">
                <div class="col-content">
                    <span>
                        555
                    </span>
                </div>
            </div>
            <div class="col col-size-3">
                <div class="col-content">
                    <span>
                        111
                    </span>
                </div>
            </div>
            <div class="col col-size-5">
                <div class="col-content ">
                    <span>
                        111
                    </span>
                    <span class="right-arrow"></span>
                </div>
            </div>
        </div>
    </div>

</div>